.topErrorContainer {
    text-align: center;
}
.topErrorMessage {
    font-size: 50px;
}
.topErrorButton {
    padding: 10px 15px;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-radius: 5%;
}
.topErrorButton:hover{
    background-color: rgba(255, 255, 255, .2);
}